
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');
/* * {
  text-align: center;
} */
/* body {
  margin: auto;
} */

/* img {
  width: 40%;
} */
body {
font-family: Roboto+Condensed;
}
.topic-logo {
  width: 20%
}
.flex-container1 {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 30px;
}
.flex-child1 {
  background-color: #80DED9;
  text-align: center;
  flex-direction: column;
  padding: 20px;
}
