<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link type='text/css' href="/style.css" rel="stylesheet"/>
    <title>edit blog</title>
    </head>
<body>
  <h1>edit blog</h1>
  <form action='/blog/<%=blog._id%>?_method=PUT' method="POST">
    user: <input type="text" name="name" value="<%=blog.user%>"/>
    <br/>
    Description:
    <textarea name="name" rows="8" cols="80" placeholder="<%=blog.description%>"></textarea>
    <br/>

    <input type="submit" value="edit">
  </form>
  <form action="/blog/<%=blog._id%>?_method=DELETE" method="post">
    <input type="submit" value="bye"/>
  </form>
  <a href="/blog">go back</a>
</body>
