<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link type='text/css' href="/style.css" rel="stylesheet"/>
    <title>Create Blog</title>
    </head>

      <h1>Create Blog</h1>

        <form action="/blog" method="post">
        <p>user: <input type="text" name="user" value=""></p>
        Description: <p>
        <textarea name="description" rows="8" cols="80" placeholder="inner thoughts"></textarea></p>
      <!-- want to update the resource topicId to match the topic it is created from.-->
        <input type="submit" value="CREATE">
      </form>
      <a href="/blog/">go back</a>
