<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- LINKS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <link type='text/css' href="/style.css" rel="stylesheet"/>

  <title>Blog</title>
</head>

<body>
<!-- NAVIGATION -->
<nav id='mainNav' class='navbar sticky-top navbar-expand-lg navbar-dark bg-dark bg-gradient'>
  <div class='container'>
    <ul class='nav navbar'>
      <li class='nav-item'><a class='nav-link' href='/'>home</a></li>
      <li class='nav-item'><a class='nav-link' href="/topics">topics</a></li>
      <li class='nav-item'><a class='nav-link active' href='/blog'>blog</a></li>
      <li class='nav-item'><a class='nav-link' href='/about'>about</a></li>
      <li class='nav-item'><a class='nav-link' href='/user'>login</a></li>
    </ul>
  </div>
</nav>
<!-- MAIN CONTENT -->
<main>
  <!-- divider -->
  <div class='border-bottom border-primary border-1 opacity-1'></div>
  <!-- Header -->
  <section class='pb-3 pb-lg-5'>
    <div class='container'>
      <div class='row'>
        <div class='col-12'>
        <h1> <%=blog.header %> </h1>
        </div>
      </div>
    </div>
  </section>
  <!-- Body -->
  <section class='pt-0'>
    <div class='container position relative'>
      <div class='row'>
        <!--left bar -->
        <div class='col-lg-2'></div>
        <!-- Body Content -->
        <div class='col-lg-7 mb-5'>
          <p> <%=blog.description %> </p>
          <a href='/blog/<%=blog._id%>/edit'>edit</a>
          <input type="text" class="form-control" placeholder="Post a comment"/>
        </div>
      </div>
    </div>
  </section>


<!-- FOOTER -->
<footer class='border-top'>
  <div class='container'>
    <div class='row'>
      <div class='col'>
        <div class='small text-center text muted'>Copyright &copy; Bookmarks Bar 2021</div>
      </div>
    </div>
  </div>
</footer>
</body>
</html>
