<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- Bootstrap -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <!-- Main CSS -->
  <link type='text/css' href="/style.css" rel="stylesheet"/>
  <!-- Google Fonts API -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap" rel="stylesheet">

  <title>Topics</title>
</head>
<body>
<!-- NAVIGATION -->
  <nav class='navbar-light' id='mainNav'>
    <ul class='nav nav-tabs'>
      <li class='nav-item'>
        <a class='nav-link' href='/'>home</a>
      </li>
      <li class='nav-item'>
        <a class='nav-link active' href="/topics">topics</a>
      </li>
      <li class='nav-item'>
        <a class='nav-link' href='/blog'>blog</a>
      </li>
      <li class='nav-item'>
        <a class='nav-link' href='/aboutMe'>about</a>
      </li>
      <li class='nav-item'>
        <a class='nav-link' href='/user'>login</a>
      </li>
    </ul>
  </nav>

    <div class="flex-container1">
      <div class="flex-child1">
        <h1>Welcome to the Bookmarks Bar!</h1>
        <h2>A comprehensive, full-stack resource center compiled by students, for students.</h2>
        <p>Select a topic you'd like to learn more about! Alternatively,
          <!-- create topic link -->
        <a href='/topics/newT'>create a topic.</a>
        </p>
      </div>
    </div>
    <!-- Bootstrap Grid for topics -->
    <div class='container-fluid'>
      <div class='row'>
        <div class="col-md">


            <% topics.forEach(topic => { %>
              <!-- topic image -->
              <a href='/topics/<%=topic._id%>'><img src="<%=topic.img%>" class="topic-logo"</a>
              <!-- Delete button - maybe move into individual topic page -->
              <!-- <form action="/topics/<%=topic._id%>?_method=DELETE" method="post">
                 <input type="submit" value="DELETE"/>
              </form> -->
          <% }) %>
        </div>
      </div>
    </div>
</body>
</html>
